@model AspNetCoreAuthCookie.Models.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Altear Senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alterar Senha</h2>
<hr />
<div class="row">
    <h4>Alterar sua senha</h4>
    <hr/>
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="control-label"></label>
                <input asp-for="PasswordConfirmation" class="form-control" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salve" class="btn btn-success btn-sm" /> |
                <a asp-action="Index" class="btn btn-default btn-sm">Back to list</a>
            </div>
        </form>
    </div>
</div>