
@{
    ViewData["Title"] = "Acesso negado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <hr/>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <br/>
    <p class="text-danger">Você não tem acesso a este recurso.</p>
</header>
